

<header>
    <!-- ======================================Navigation Bar================================================= -->
            <nav class="navbar navbar-expand-lg navStyle">
                <img src="assets/img/logo.png" style="border: 2px solid yellow;border-radius: 25px; " height="60px">
                
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <span><i class="fas fa-align-right iconStyle"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="navbar-nav ml-auto navList">
                        <li class="nav-item "><a routerLink="../adminhome" class="nav-link">HOME</a></li>
                        
                        <li class="nav-item">
                            <a routerLink="../viewteacher" class="nav-link">viewteacher</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="../viewstudent" class="nav-link">viewstudent</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="../home" class="nav-link" onclick="auth.logoutUser()">Logout</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a routerLink="addquestions" class="nav-link">Add Questions</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="question" class="nav-link"> Questions</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="teacherhome" class="nav-link"> Teacher</a>
                        </li> -->
                    </ul>
                </div>
            </nav>
        </header>