.mb.card-body{
    text-align: center;
    opacity: 0.6;
   
}
.mb.btn{
    border-radius: 0;
    box-shadow: 0.5px 1px 2px rgb(178, 175, 175);
}
.mb.btn:hover{
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px rgb(190, 181, 181);
}
.mb.card{
    margin-top: 20%;
    border-radius: 0px / 0px;
    /* overflow: hidden; */
    box-shadow: 0.5px 1px 2px rgb(145, 142, 142);
}