<app-studentnav></app-studentnav>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">

  <div class="row" style="margin-bottom: 10%;">

    <div class="container">

      <div class="row">

        <div class="card-body mb">

          <div *ngFor="let quiz of quiz;index as i">
            <div class="col-md-4">
              <div class="card mb">



                <h5 class="card-title">{{quiz.quizname}}</h5>
                <p class="card-text">{{quiz.quizdes}}</p>
                <button type="button" class="btn btn-primary mb" (click)="playquiz(quiz)">Play Quiz</button>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>