<!-- 
<footer >
  
    <div class="container-fluid bg-primary py-3 " style="margin-bottom: 0%;">
   <div class="container">
     <div class="row">
       <div class="col-md-7">
           <div class="row py-0">
           <div class="col-sm-11 text-white">
               <div><h4>  Contact</h4>
                   <p>   quizappkas@gmail.com</p>
               </div>
           </div>
           </div>
       </div>
       <div class="col-md-5">
         <div class="d-inline-block">
           <div class="bg-circle-outline d-inline-block" style="background-color:#3b5998">
             <a href="https://www.facebook.com/"><i class="fa fa-2x fa-fw fa-facebook text-white"></i>
       </a>
           </div>
           <div class="bg-circle-outline d-inline-block" style="background-color:#4099FF">
             <a href="https://twitter.com/">
               <i class="fa fa-2x fa-fw fa-twitter text-white"></i></a>
           </div>

           <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
             <a href="https://www.linkedin.com/company/">
               <i class="fa fa-2x fa-fw fa-linkedin text-white"></i></a>
           </div>
           <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
             <a href="https://www.google.com/">
               <i class="fa fa-2x fa-fw fa-google text-white"></i></a>
           </div>
         </div>
       </div>
     </div>
     <p class="text-center text-white" > Copyright © QuizApp 2022. All right reserved. </p>
   </div>
   </div>
  
</footer>
    -->


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<footer class="section footer-classic context-dark bg-image" style="background: #2d3246; margin-top: 10%;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="assets/img/logo.png" style="border:2px yellow;border-radius: 25px;" alt="" width="100" height="50" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2022</span><span> </span><span></span><span>. </span><span>All Rights Reserved.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>Address:</dt>
                <dd>Block Number, Building, Country</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">quizappkas@gmail.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>phones:</dt>
                <dd><a href="tel:#">8639974364</a> <span>or</span> <a href="tel:#">9845765401</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contacts</a></li>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
        </div>
      </footer>