.card{
    max-width:800px;
    margin:0 auto;
    padding:10px;

}
li{
    list-style-type:none;
    cursor:pointer;
    margin:10px 0;

}
li .card:hover{
    border:1px solid brown;

}
ol{
    padding:0;

}
.container{
    margin-bottom: 8%;
    margin-top: 8%;
}
