
    <header>
<!-- ======================================Navigation Bar================================================= -->
        <nav class="navbar navbar-expand-lg navStyle">
            <a class="brand-navbar" ><img src="assets/img/quizwiz.png"  height="60px"></a>
            
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span><i class="fas fa-align-right iconStyle"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav ml-auto navList">
                    <li class="nav-item "><a routerLink="../home" class="nav-link">HOME</a></li>
                    
                    <li class="nav-item">
                        <a routerLink="../demoquiz" class="nav-link">demo quiz</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="../login-student" class="nav-link">student</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="../login-teacher" class="nav-link">Teacher</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a routerLink="addquestions" class="nav-link">Add Questions</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="question" class="nav-link"> Questions</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="teacherhome" class="nav-link"> Teacher</a>
                    </li> -->
                </ul>
            </div>
        </nav>
    </header>