/* You can add global styles to this file, and also import other style files */
 .bodyclass{
    background:url('/assets/img/istockphoto-1305169776-170667a.jpg') no-repeat center center;
    background-size:cover ;
    width: 100%;
    height: 100%;
} 
.footer{
    position: fixed;
    bottom: 0;
}
.register{
    opacity: 0.6;
}
.form-control{
    border: 1px solid black;
}