
    <header>
        <!-- ======================================Navigation Bar================================================= -->
                <nav class="navbar navbar-expand-lg navStyle">
                    <a class="brand-navbar" ><img src="assets/img/quizwiz.png"  height="60px"></a>
                    
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                        <span><i class="fas fa-align-right iconStyle"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mainMenu">
                        <ul class="navbar-nav ml-auto navList">
                          
                             <li class="nav-item">
                                <a routerLink="../studenthome" class="nav-link"> studenthome</a>
                            </li> 
                            <li class="nav-item">
                                <a routerLink="../result" class="nav-link"> result</a>
                            </li> 
                            <li class="nav-item">
                                <a routerLink="../home" class="nav-link" onclick="auth.logoutUser()">logout</a>
                            </li>  
                        </ul>
                    </div>
                </nav>
            </header>