.red{
    color:red;
    }

.form-area
{
    background-color: #eff3ef;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid rgb(11, 12, 11);
	box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.5);
	}

    