
<app-teachernav></app-teachernav>
<div class="container" style="margin-top: 50px;">

    <div class="col-md-5">
        <div class="form-area">  
            <form #form="ngForm" (ngSubmit)="edit(question)" role="form">
            <br style="clear:both">
                        <h3 style="margin-bottom: 25px; text-align: center;">Add Question</h3>
                        <div class="form-group">
                            <input class="form-control" type="textarea" id="message" placeholder="Question" maxlength="140" rows="7" [(ngModel)]="question.question" name="question">
                                                    
                            </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="Option1" name="option1" placeholder="Option1" [(ngModel)]="question.option1" #option1 ="ngModel" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="Option2" name="option2" placeholder="Option2" [(ngModel)]="question.option2" #option2 ="ngModel" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="Option3" name="option3" placeholder="Option3" [(ngModel)]="question.option3" #option3 ="ngModel" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="Option4" name="option4" placeholder="Option4"[(ngModel)]="question.option4" #option4 ="ngModel" required>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label for="answer">Answer</label>
                            <input type="radio" value="1" name="answer" id="answer" [(ngModel)]="question.answer" required #answer="ngModel">1
                            <input type="radio" value="2" name="answer" id="answer" [(ngModel)]="question.answer" required #answer="ngModel">2
                            <input type="radio" value="3" name="answer" id="answer" [(ngModel)]="question.answer" required #answer="ngModel">3
                            <input type="radio" value="4" name="answer" id="answer" [(ngModel)]="question.answer" required #answer="ngModel">4
                          </div>
                        
                
            <button type="submit" id="submit" value="submit" name="submit" class="btn btn-primary pull-right" style="background-color: rgb(255, 0, 0);" >ADD</button>
            </form>
        </div>
    </div>
    </div>
